/* center room text in the room banner */
div.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55px
}

/* text blocks' font information */
div.banner > div.main {
  font-size: 30px;
}

div.banner > div.private-notice {
  font-size: 12px;
}
