div#connect-message-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#connect-message {
  max-width: 300px;
  border: 1px solid black;
  padding: 12px;
}