:root {
  /* full page limits */
  --page-min-width: 870px;
  /* space planning */
  --player-width: 290px;
  /* border between major ui elements */
  --player-major-element-border: 1px solid black;
  --player-opts-border: 1px solid blue;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

/* full page flows as column */
div#page-wrap {
  display: none; /* hidden until connect, then must be set to flex */
  flex-direction: column;
  height: 100vh;
  min-width: var(--page-min-width);
}

/* column to contain the different page elements on a 2x2 grid */
div#game-wrap {
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;
  grid-template-columns: var(--player-width) 1fr;
  flex-grow: 1; /* game content fills remaining bottom space below banner */
}

/* borders: care for no overlaps */
div#game-opts {
  border-top: var(--player-opts-border);
  border-right: var(--player-opts-border);
}
div#game-elements {
  border-top: var(--player-major-element-border);
}
div#chat-wrap {
  border-top: var(--player-major-element-border);
}
